<div class="mt-4">
  <form method="post" action="customer/create">
    <div class="container">
    <div class="form-group">
      <div>
      <label for="name">name</label>
      <input type="text" class="form-control" id="name" name = "name">
      </div>
      <div class="form-group">
      <label for="sdt">sdt</label>
      <input type="text" class="form-control" id="sdt" name = "sdt">
      </div>
      <div class="form-group">
      <label for="diachi">Dịa Chỉ</label>
      <input type="text" class="form-control" id="diachi" name = "diachi">
      </div>
    </div>
    <button type="#" class="btn btn-primary">Thêm Sản Phẩm</button>
</form>
 </div>
</div>


